//- Often used external components
link(rel='import' href='../bower_components/polymer/polymer.html')
link(rel='import' href='../bower_components/app-router/app-router.html')

//- Your components below
link(rel='import' href='./elements/x-demo/x-demo.html')
