//- globally used external components

link(rel='import' href='BASE_URL/bower_components/polymer/polymer.html')
link(rel='import' href='BASE_URL/bower_components/app-router/app-router.html')

//- Your components below
link(rel='import' href='BASE_URL/components/elements/x-demo/x-demo.html')
