doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content='Polymer Starter Kit On Steroids')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    title Starter Kit On Steroids

    script(src='BASE_URL/bower_components/core.js/client/core.js')
    script(src='BASE_URL/bower_components/webcomponentsjs/webcomponents-lite.js')

    link(rel='import' href='BASE_URL/components/components.html')

  body(unresolved class='fullbleed layout vertical')
    app-router
      app-route(path='/' import='BASE_URL/components/pages/demo-page/demo-page.html')
      app-route(path='*' import='BASE_URL/components/pages/not-found-page/not-found-page.html')
