link(rel='import' href='BASE_URL/bower_components/iron-icons/iron-icons.html')

dom-module(id='x-demo')
  style.
    :host {
      display: inline-block;
    }
    iron-icon {
      fill: blue;
    }

  template
    p
      iron-icon(icon='polymer')
      span {{ label }}
    ul
      template(is="dom-repeat" items="{{ items }}")
        li
          | Hello 
          span {{ item }}


script
  :babel
    Polymer({
      properties: {
        label: {
          type: String,
          value: 'Hello'
        },
        items: {
          type: Array,
          value: []
        }
      },
      is: 'x-demo',
      ready: function () {
        this.items = Array.from(10).map(x => x * x * x);
      }
    })
